body {
	background-color: #1abc9c;
	color: white;
	font-family: "museo-sans";
    transition: background-color 1s;
}

.step {
	display: block;
	width: 1200px;
}

.slide-1 {
	font-size: 1.4em;
	text-align: center;
}

.slide-1 h2 {
	margin-bottom: 3em;
}

.slide-2 {
	width: 1400px;
	font-size: 2.4em;
}

.slide-2  li {
	margin: 3em 0;
	line-height: 1.4;
}

.impress-on-step-2 {
    background-color: #2980b9;
}

.slide-3 h3 {
	font-size: 2.4em;
}

.slide-3 li {
	font-size: 2em;
	line-height: 1.4;
}

.impress-on-step-3 {
    background-color: #8e44ad;
}

.slide-4 figcaption {
	font-size: 1.5em;	
}

.slide-4 img {
	margin-top: 2em;
}

.impress-on-step-4 {
    background-color: #2c3e50;
}

.slide-5 {
	font-size: 2em;
	width: 1400px;
	color: black;
}

.slide-5  li {
	margin: 2em 0;
}

.impress-on-step-5 {
    background-color: #ecf0f1;
}

.slide-6 {
	font-size: 2.4em;
	line-height: 1.6;
}

.impress-on-step-6 {
    background-color: #c0392b;
}

.slide-7 {
	font-size: 3.6em;
	text-align: center;
	display: none;
}

.impress-on-step-7 {
    background-color: #f1c40f;
}

.impress-on-step-7 .slide-7 {
	display: inline-block;
}