body {
    background-color: #1abc9c;
    color: white;
    font-family: "museo-sans";
    transition: background-color 1s;
}

.step {
    display: block;
    width: 1200px;
    opacity: 0;
    transition: opacity 2s linear;
}

.slide-1 {
    font-size: 1.4em;
    text-align: center;
}

.slide-1 h2 {
    margin-bottom: 3em;
}

.impress-on-step-1 .slide-1 {
    opacity: 1;
    transition: opacity 0s linear;
}

.slide-2 {
    width: 1400px;
    font-size: 2.4em;
}

.slide-2  li {
    margin: 3em 0;
    line-height: 1.4;
}

.impress-on-step-2 {
    background-color: #2980b9;
}

.impress-on-step-2 .slide-2 {
    opacity: 1;
    transition: opacity 0s linear;
}

.slide-3 h3 {
    font-size: 2.4em;
}

.slide-3 li {
    font-size: 2em;
    line-height: 1.4;
}

.impress-on-step-3 {
    background-color: #8e44ad;
}

.impress-on-step-3 .slide-3 {
    opacity: 1;
    transition: opacity 0s linear;
}

.slide-4 figcaption {
    font-size: 1.5em;   
}

.slide-4 img {
    margin-top: 2em;
}

.impress-on-step-4 {
    background-color: #2c3e50;
}

.impress-on-step-4 .slide-4 {
    opacity: 1;
    transition: opacity 0s linear;
}

.slide-5 {
    font-size: 2em;
    width: 1400px;
    color: black;
}

.slide-5  li {
    margin: 2em 0;
}

.impress-on-step-5 {
    background-color: #ecf0f1;
}

.impress-on-step-5 .slide-5 {
    opacity: 1;
    transition: opacity 0s linear;
}

.slide-6 {
    font-size: 2.4em;
    line-height: 1.6;
    transition: opacity 0.4s linear;
}

.impress-on-step-6 {
    background-color: #c0392b;
}

.impress-on-step-6 .slide-6 {
    opacity: 1;
    transition: opacity 0s linear;
}

.slide-7 {
    font-size: 2.4em;
    text-align: right;
    padding-top: 8em;
    padding-right: 4em;
    opacity: 0;
    transition: opacity 0.4s linear;
}

.impress-on-step-7 {
    background-color: #c0392b;
}

.impress-on-step-7 .slide-7 {
    opacity: 1;
    transition: opacity 0s linear;
}

.impress-on-step-7 .slide-6 {
    opacity: 0.5;
}

.slide-8 {
    opacity: 0;
    transition: opacity 0.4s linear;
}

.slide-8 figure {
    display: inline-block;
}

.slide-8 figcaption {
    margin-bottom: 1em;
    font-size: 2em;
}

.impress-on-step-8 {
    background-color: #d35400;
}

.impress-on-step-8 .slide-8 {
    opacity: 1;
    transition: opacity 0s linear;
}

.slide-9 {
    opacity: 0;
    transition: opacity 0.4s linear;
}

.slide-9 .small-stretch {
    position: absolute;
    opacity: 0.6;
    right: 11.5em;
    top: 9em;
}

.slide-9 .small-stretch::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 12em solid transparent;
    border-right: 20em solid black;
    left: -10.5em;
    bottom: 3em;
    z-index: -1;
}

.slide-9 .small-stretch::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 12em solid transparent;
    border-left: 21em solid black;
    right: -11em;
    bottom: 3em;
    z-index: -1;
}

.slide-9 .big-stretch {
    position: absolute;
    width: 40em;
    bottom: -3em;
    right: 0;
}

.impress-on-step-9 {
    background-color: #d35400;
}

.impress-on-step-9 .slide-9 {
    opacity: 1;
}

.impress-on-step-9 .slide-8 {
    opacity: 0.5;
}

.slide-11 {
    font-size: 3.6em;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s linear;
}

.impress-on-step-11 {
    background-color: #f1c40f;
}

.impress-on-step-11 .slide-11 {
    opacity: 1;
    transition: opacity 0s linear;
}